:root{
    --main-bg-color: #e7e7e7;
    --main-text-color: #000000;
    --main-accent-color: #000000;
    --main-font-family: Courier, sans-serif;
    --sec-bg-color: #cdcdcd;
    --sec-accent-color: #b9b9b9;
}

*{
    font-family: var(--main-font-family);
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    background-color: var(--main-bg-color);
    margin: 0;
}

header{
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid var(--main-accent-color);
    /* text-align: center; */
    height: 80px;
}

.navigation-links{
    margin-left: auto;
}

.nav-link{
    margin: 0 10px;
}
/* 
.content{
    padding: 10px 10vw;
} */

.home{
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%;
    height: calc(100vh - 81px);
    /* padding: 0 10vw; */
}

.whoami{
    font-size: calc(3vw + 30px);
    word-spacing: -20px;
}
/* -------------------------------------------------------------------------- */
/* .profile-pic{
    width: calc(100% - 10px);
    border: 5px solid var(--main-accent-color);
} */

.img-cont{
height: 100%;
width: 100%;
overflow: hidden;
position: relative;
}

/* .img-cont::after{
    content: "";
    position: absolute;
    height: 200%;
    width: 100px;
    background-color: red;
    z-index: 1000;
    top:-1000px;
    bottom: -1000px;
    right: -50px;
    rotate: 5deg;
} */

.profile-pic{
    height: 100%;
    width: 100%;
    /* max-width: 300px; */
    /* border: 5px solid var(--main-accent-color); */
    object-fit: cover;
}


.whoami-section{
    padding: 20px 50px;
}

.socials{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    width: min-content;
    gap: 10px;
    margin-top: 10px;
}

.social-icon{
    width: 27px;
    /* margin-right: 8px; */
    vertical-align: middle;
}

/* .img-cont{
    padding: 10px;
    margin: 10px;
    outline: 2px solid var(--main-accent-color);
    outline-offset: 3px;
    border: 2px solid var(--main-accent-color);
} */

/* .img-cont img{
    border-radius: 50%;
} */

.projects-page{
    display: grid;
    padding: 30px 20vw;
    grid-template-columns: repeat(3, 1fr);
    gap:15px;
}


.project-item{
    display: grid;
    /* width: calc(5v   w + 200px); */
    background-color: var(--sec-bg-color);
    border-radius: 5px;
    overflow: hidden;
    height: min-content;
    transition: all 0.3s ease-in-out;
}

.project-item:hover .project-image{
    transform: scale(1.05);
}

.project-item:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.216);
    transform: scale(1.025);
}

.project-image{
    width: 100%;
    max-height: 140px;
    object-fit: cover;
    object-position: top;
    transition: transform 0.3s ease-in-out;
}


.project-text{
    padding: 10px;
    display: grid;
    box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.136);
    /* min-height: 100%; */
    gap: 7px;
}

/* .project-text > *:not(:last-child){
    border-bottom: 1px solid var(--main-accent-color);
    padding: 5px 0;
} */

.skill-set{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.skill-badge{
    font-size: calc(8px + 0.5vw);
    background-color: var(--sec-accent-color);
    padding: 3px 8px;
    border-radius: 3px;
}

.project-links{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.project-link{
    text-decoration: none;
    color: var(--main-text-color);
    padding: 3px 8px;
    border-radius: 3px;
}

.github{
    background-color: #2b3137;
    color: var(--main-bg-color);
}

.web{
    background-color: #cd372a;
    color: var(--main-bg-color);
}


@media only screen and (max-width:1200px) and (min-width:701px){
    
    .projects-page{
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 5vw;
    }
}



@media only screen and (max-width:700px){

    .home{

        grid-template-columns: 100%;
        grid-template-rows: 45% 55%;
        /* padding: 0 10vw; */
    }

    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    h1{
        height: 100%;
        display: grid;
        place-items: center;
    }

    .home{
        height: auto;
        place-items: initial;
    }

    .navigation-links{
        height: 100%;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .nav-link{
        width: 100%;
        text-align: center;
    }
    
    .whoami-section{
        padding: 50px 30px;
    }

    .projects-page{
        grid-template-columns: 100%;
        padding: 50px 30px;
    }
    
    .skill-badge{
        font-size: calc(13px + 0.5vw);
    }

}